In [110]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [111]:
# This will suppress all warnings
import warnings
warnings.filterwarnings('ignore')

### Load dataset

In [113]:
data=pd.read_csv('data/homeprice_1.csv')
data.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200   61000
3  monroe township  3600  680000
4  monroe township  4000  725000

### Label encoder

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

In [116]:
lb=LabelEncoder()
data['town']=lb.fit_transform(data['town'])
data['town']

0     0
1     0
2     0
3     0
4     0
5     2
6     2
7     2
8     2
9     1
10    1
11    1
12    1
Name: town, dtype: int32

In Label Encoding,we dont need to join it seprately.

In [118]:
data.head()

   town  area   price
0     0  2600  550000
1     0  3000  565000
2     0  3200   61000
3     0  3600  680000
4     0  4000  725000

### Spliting the Data into Multiple Inputs(X) & One Target(Y) variables

In [120]:
X=data.drop('price',axis=1)
X.head()

   town  area
0     0  2600
1     0  3000
2     0  3200
3     0  3600
4     0  4000

In [121]:
Y=data['price']
Y.head()

0    550000
1    565000
2     61000
3    680000
4    725000
Name: price, dtype: int64

### Spliting the data into test data & train data

In [123]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

### Lasso Regression Modeling

In [125]:
from sklearn.linear_model import Lasso
ls=Lasso(alpha=2)
ls.fit(x_train,y_train)
y_pred = ls.predict(x_test)
y_pred

array([609674.9594142 , 655665.56545577, 701656.17149734])

### r2 score

In [127]:
r2=r2_score(y_test,y_pred)
r2

-0.09740186853819677

In [128]:
# END