In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
data=pd.read_csv('data/house_price_regression_dataset.csv')
data.head()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06

In [5]:
data.duplicated().sum()

0

In [7]:
data.isna().sum()

Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64

In [13]:
X = data.drop(columns=["House_Price"])
y = data["House_Price"]

In [15]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

### Linear Regression

In [35]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(X_train, y_train)
y_pred_linear = linear.predict(X_test)
linear_mse = mean_squared_error(y_test, y_pred_linear)
linear_r2 = r2_score(y_test, y_pred_linear)
print("Linear Regression ")
print("="*20)
print("Mean Squared Error:", linear_mse)
accuracy = linear.score(X_test,y_test)
print('Accuracy:',accuracy*100,'%')
print('R2:',linear_r2*100,'%')

Linear Regression
====================
Mean Squared Error: 101434798.50563525
Accuracy: 99.84263636823412 %
R2: 99.84263636823412 %

### Ridge Regression

In [100]:
ridge = Ridge(alpha=.01) 
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_test)
ridge_mse = mean_squared_error(y_test, y_pred)
ridge_r2 = r2_score(y_test, y_pred)
accuracy = ridge.score(X_test,y_test)

print("Ridge Regression ")
print("="*20)
print('Accuracy:',accuracy*100,'%')
print("Ridge Regression R2:", ridge_r2*100,'%')
print("Ridge Regression Mean Squared Error:", ridge_mse)

Ridge Regression
====================
Accuracy: 99.842621644065 %
Ridge Regression R2: 99.842621644065 %
Ridge Regression Mean Squared Error: 101444289.53677586

### Lasso Regression

In [37]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

lasso = Lasso(alpha=1.0)
lasso.fit(X_train, y_train)
y_pred_lasso = lasso.predict(X_test)
lasso_mse = mean_squared_error(y_test, y_pred_lasso)
lasso_r2 = r2_score(y_test, y_pred_lasso)

print("Lasso Regression ")
print("="*20)
print("Mean Squared Error:", lasso_mse)
accuracy = lasso.score(X_test,y_test)
print('Accuracy:',accuracy*100,'%')
print('R2:',lasso_r2*100,'%')

Lasso Regression
====================
Mean Squared Error: 101436580.04246059
Accuracy: 99.84263360439856 %
R2: 99.84263360439856 %

In [98]:
#END