# Naive Bayes

In [85]:
import pandas as pd
import numpy
from sklearn.naive_bayes import GaussianNB

### EDA

In [87]:
data=pd.read_csv('../data/golf.csv')
data.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [88]:
data.isna().sum()

Outlook      0
Temp         0
Humidity     0
Windy        0
Play Golf    0
dtype: int64

In [89]:
data.duplicated().sum()

28

In [90]:
data.drop_duplicates(inplace=True)

In [91]:
data.duplicated().sum()

0

In [92]:
data.dtypes

Outlook      object
Temp         object
Humidity     object
Windy          bool
Play Golf    object
dtype: object

### Label Encoding

In [94]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for x in data:
    data[x] = le.fit_transform(data[x])

In [95]:
data.head()

   Outlook  Temp  Humidity  Windy  Play Golf
0        1     1         0      0          0
1        1     1         0      1          0
2        0     1         0      0          1
3        2     2         0      0          1
4        2     0         1      0          1

### Splitting X and Y

In [97]:
X = data.drop("Play Golf",axis=1)
y = data['Play Golf']

### Splitting test and train data

In [99]:
from sklearn.model_selection import train_test_split #this funciton split x and y randomnly-
#so for each time the output will be diffrent.to keep the data consistant we have to set a seed.random_state!=0, we are setting a seed.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33,random_state=42) #0.20 data will be for training.

### Naive Bayes

In [101]:
naive_classifier = GaussianNB()
naive_classifier.fit(X_train,y_train)
y_pred=naive_classifier.predict(X_test)

In [102]:
y_pred

array([1, 0, 0, 1, 1])

In [103]:
y_test

9     1
11    1
0     0
12    1
5     0
Name: Play Golf, dtype: int32

In [104]:
#confusison matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred) #only the diagonal values are true predicitons.

array([[1, 1],
       [1, 2]], dtype=int64)

In [105]:
#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6

In [106]:
#END