# Clustering - News Paper Heading

In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### EDA

In [10]:
data = pd.read_csv("../../data/abcnews-date-text.csv",nrows=20000)
data.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [12]:
data.shape

(20000, 2)

In [14]:
data.size

40000

In [16]:
data.isna().sum()

publish_date     0
headline_text    0
dtype: int64

In [18]:
data.duplicated().sum()

0

In [20]:
#checking for duplicates in headlines
data[data['headline_text'].duplicated(keep=False)].sort_values('headline_text').head(10)

       publish_date                            headline_text
9253       20030404  5 australian sars cases being monitored
9458       20030405  5 australian sars cases being monitored
6192       20030321    all walks of life follow protest path
6402       20030322    all walks of life follow protest path
15880      20030507          an early taste of later battles
4597       20030313          an early taste of later battles
6409       20030322      asio briefs crean on terrorist risk
6197       20030321      asio briefs crean on terrorist risk
17498      20030515     athens olympic games tickets on sale
17065      20030513     athens olympic games tickets on sale

In [22]:
data = data.drop_duplicates('headline_text')

In [24]:
data.shape

(19938, 2)

In [ ]:
#we are importiting 2 functions from sklearn for NLP

from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer